<!DOCTYPE html>
<!-- 通用模板 -->
<html<%= config.language ? " lang=" + typeof (config.language) == "string" ? config.language.substring(0, 2) : config.language[0] : "" %>>
<%- partial('_asset/head', {post: page}) %>

<%
var bodyClass = 'main-center';
if (theme.config.layout) {
    bodyClass = theme.config.layout;
}
if (theme.config.skin) {
    bodyClass += ' ' + theme.config.skin;
}
bodyClass = page.sidebar === 'none' ? (bodyClass + ' no-sidebar') : bodyClass;
%>

<body class="<%= bodyClass %> is-small" itemscope itemtype="http://schema.org/WebPage">
<%#- partial('home-left', null, {cache: !config.relative_link}) %>

<%# if (theme.sidebar.enable && (!page.sidebar || page.sidebar != 'none')){ %>
    <%#- partial('sidebar', null, {cache: !config.relative_link}) %>
<%# } %>



<%- partial('_common/github-corners', null, {cache: !config.relative_link}) %>
<%- partial('_common/widget-list', null, {cache: !config.relative_link}) %>
<%- partial('_common/tools', null, {cache: !config.relative_link}) %>



<div class="container is-white is-max-desktop">

    <!-- menus -->
    <%- partial('_common/menus', null, {cache: !config.relative_link}) %>


    <%- body %>


    <%- partial('_common/footer', null, {cache: !config.relative_link}) %>

</div>


<%- partial('_asset/script', {post: page}) %>


</body>
</html<%= config.language ? " lang=" + typeof (config.language) == "string" ? config.language.substring(0, 2) : config.language[0] : "" %>>
