<nav class="level">

    <!-- Left side -->
    <div class="level-left">
    </div>

    <div class="level-right">
        <% if (page.prev != 0) { %>
            <a class="level-item" href="<%= url_for(page.prev_link)%>" title="<%= __('pagination.prev') %>">
                ← <%= __('pagination.prev') %>
            </a>
        <% } %>
        <%- paginator({
            prev_text: '<i class="icon icon-angle-left"></i> ' + __('pagination.prev'),
            next_text: __('pagination.next') + ' <i class="icon icon-angle-right"></i>',
            prev_next: false,
            escape: false
        }) %>
        <% if (page.next != 0) { %>
            <a class="level-item" href="<%= url_for(page.next_link)%>" title="<%= __('pagination.next') %>">
                <%= __('pagination.next') %> →
            </a>
        <% } %>
    </div>
</nav>


<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <a class="pagination-previous">Previous</a>
    <a class="pagination-next">Next page</a>
    <ul class="pagination-list">
        <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
        <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
        <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
        <li><span class="pagination-ellipsis">&hellip;</span></li>
        <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
    </ul>
</nav>




